<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="utf-8"> 
  <title>Login</title>
<style>
input[type="text"] {
  width: 200px;
}
* {
  font-family: sans-serif;
}
</style>
</head>
<body>
	<h2>Login to FreshBooks</h2>
	<p>
		Since I couldn't get the OAuth credientials in time,
		I am using the following method to demonstrate the
		mashup and build a proof of concept using Twilio.
	</p>
	<p>
		You will need to enter your website URL and
		Authentication Token to try out this application.
	</p>
	<hr/>
	<% if @msg %>
	<div style="background: #f0a8a8">
		<%= @msg %>
	</div>
	<% end %>
	<form method="POST" action="/login">
		Website URL: <input type="text" name="site_name" placeholder="http://sample.freshbooks.com"/><br/>
		Auth token:  <input type="text" name="token" /><br/>
		<input type="submit" value="Login!"/>
	</form>
</body>
